_ReSharper.*/
bin
obj
Backup
*.user
*.suo
*.Cache
publish
*.deploy
Debug
Release
UpgradeLog.*
_UpgradeReport_Files/
artifacts/
_UpgradeReport*
*.dbmdl
*.ncrunchproject
*.ncrunchsolution
/.vs/
project.lock.json
logs
web.config