<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace"   internalLogFile="logs/internal-nlog.txt">
  <variable name="verbose" value="[${longdate}] [${level}] | ${logger} | ${message} | ${exception:format=ToString}"/>
  <variable name="verbose_inline" value="${replace:inner=${verbose}:searchFor=\\r\\n|\\n:replaceWith=->:regex=true}"/>
  <targets>
    <target encoding="utf-8" xsi:type="File" name="fError"
            layout="${longdate} ${logger} ${message} ${newline} ${exception:format=tostring,data}"
            fileName="logs/error.log"
            archiveFileName="logs/error.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"/>
    <target encoding="utf-8" xsi:type="File" name="fInfo" 
            layout="${longdate} ${logger} ${message}"
            fileName="logs/info.log"
            archiveFileName="logs/info.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"/>
    <target xsi:type="Network"
            name="nLog"
            keepConnection="false"
            address ="tcp://bsapp_elk:5500"     
			layout="${verbose_inline}"			
            />
	<target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
  	<logger name="*" minlevel="Error" writeTo="nLog" />
    <logger name="*" level="Info" writeTo="nLog" />
    <logger name="Microsoft.*" minlevel="Error" writeTo="fError" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="Infrastructure.Web.Authentication.OAuth.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="fError" />
    <logger name="*" level="Info" writeTo="fInfo" />
  </rules>
</nlog>