<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.MailKit" />
  </extensions>
  <targets>
    <target encoding="utf-8" xsi:type="File" name="fError" fileName="./logs/error_${shortdate}.log"
            layout="${longdate} ${logger} ${message} ${newline} ${exception:format=tostring,data}"
            archiveAboveSize="10485760" maxArchiveFiles="10" archiveFileName="./logs/archives/error.{#####}.log"
            archiveNumbering="Sequence" archiveEvery="Day" />
    <target encoding="utf-8" xsi:type="File" name="fInfo" fileName="./logs/info_${shortdate}.log"
            layout="${longdate} ${logger} ${message}"
            archiveAboveSize="5242880" maxArchiveFiles="5" archiveFileName="./logs/archives/info.{#####}.log"
            archiveNumbering="Sequence" archiveEvery="Day" />
    <target xsi:type="Mail"
            name="mError"
            subject="Staging.Web.Error"
            to="example@example.com"
            from="example@example.com"
            layout="${longdate} ${logger} ${message} ${newline} ${exception:format=tostring,data}"

            smtpServer=""
            smtpPort="25" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="mError, fError" />
    <logger name="*" maxlevel="Warn" minlevel="Info" writeTo="fInfo" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>