<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" >
  <targets>
    <target encoding="utf-8" xsi:type="File" name="fError"
            layout="${longdate} ${logger} ${message} ${newline} ${exception:format=tostring,data}"
            fileName="D:/logs/error.log"
            archiveFileName="D:/logs/error.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"/>
    <target encoding="utf-8" xsi:type="File" name="fInfo"
            layout="${longdate} ${logger} ${message}"
            fileName="D:/logs/info.log"
            archiveFileName="D:/logs/info.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"/>
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Error" writeTo="fError" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="Infrastructure.Web.Authentication.OAuth.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="fError" />
    <logger name="*" level="Info" writeTo="fInfo" />
  </rules>
</nlog>