<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" >
  <targets>
    <target encoding="utf-8" xsi:type="File" name="fError" fileName="./logs/error_${shortdate}.log" layout="${longdate} ${logger} ${message} ${newline} ${exception:format=tostring,data}" />
    <target encoding="utf-8" xsi:type="File" name="fInfo" fileName="./logs/info_${shortdate}.log" layout="${longdate} ${logger} ${message}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Error" writeTo="fError" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="Infrastructure.Web.Authentication.OAuth.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="fError" />
    <logger name="*" level="Info" writeTo="fInfo" />
  </rules>
</nlog>