<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace"   internalLogFile="logs/internal-nlog.txt">
  <variable name="verbose" value="[${longdate}] [${level}] | ${logger} | ${message} | ${exception:format=ToString}"/>
  <variable name="verbose_inline" value="${replace:inner=${verbose}:searchFor=\\r\\n|\\n:replaceWith=->:regex=true}"/>
  <extensions>
    <add assembly="NLog.MailKit" />
  </extensions>
  <targets>
    <target encoding="utf-8" xsi:type="File" name="fError" fileName="./logs/error_${shortdate}.log"
            layout="${longdate} ${logger} ${message} ${newline} ${exception:format=tostring,data}"
            fileName="logs/error.log"
            archiveFileName="logs/error.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"/>
    <target encoding="utf-8" xsi:type="File" name="fInfo" 
            layout="${longdate} ${logger} ${message}"
            fileName="logs/info.log"
            archiveFileName="logs/info.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"/>
    <target xsi:type="Mail"
            name="mError"
            subject="Prod.Web.Error"
            to="example@example.com"
            from="example@example.com"
            layout="${longdate} ${logger} ${message} ${newline} ${exception:format=tostring,data}"

            smtpServer=""
            smtpPort="25" />
    <target xsi:type="Network"
            name="nLog"
            keepConnection="false"
            address ="tcp://bsapp_elk:5500"     
			layout="${verbose_inline}"			
            />
	<target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
  	<logger name="*" minlevel="Error" writeTo="mError, nLog" />
    <logger name="*" level="Info" writeTo="nLog" />
    <logger name="Microsoft.*" minlevel="Error" writeTo="fError" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>